<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Netease Music Down</title>
  <link rel="shortcut icon" href="./favicon.ico" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.min.js"></script>
  <script src="https://cdn.staticfile.org/vue/2.6.10/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
  <script src="./vendor/browser-id3-writer.js"></script>
  <script src="./vendor/FileSaver.js"></script>
  <!--<script src="https://cdn.staticfile.org/vConsole/3.3.2/vconsole.min.js"></script>
  <script>new VConsole()</script>-->
</head>
<body>
<div class="main-wrap">
  <div id="root">
    <van-nav-bar
        title="Netease Music Down"
    ></van-nav-bar>

    <van-search
        v-model="searchText"
        placeholder="歌曲/歌手/专辑/ID/..."
        show-action
        shape="round"
        @search="onSearch"
    >
      <div slot="action" @click="onSearch">搜索</div>
    </van-search>

    <van-collapse v-model="activeNames">
      <van-collapse-item
          v-for="(item, index) in list"
          :key="item.id"
          :title="item.name"
          :name="index"
      >
        <van-row v-if="item.alias.length > 0" class="color-pink">
          <van-col span="24"><strong>别名</strong> {{ item.alias.join(' / ') }}</van-col>
        </van-row>

        <van-row>
          <van-col span="24"><strong>歌手</strong> {{ formatArtist(item.artists) }}</van-col>
        </van-row>
        <van-row>
          <van-col span="24"><strong>专辑</strong> {{ item.album.name }}</van-col>
        </van-row>

        <van-row>
          <van-col span="12"><strong>时长</strong> {{ convertMinSec(item.duration) }}</van-col>
          <van-col span="12"><strong>ID</strong> {{ item.id }}</van-col>
        </van-row>

        <van-row class="m-button-group">
          <van-col span="6">
            <van-button type="warning" @click="getMusicUrl(item, true)" loading-type="spinner" :loading="loadingMusicUrl === item.id">直接下载</van-button>
          </van-col>
          <van-col span="6">
            <van-button type="info" @click="getMusicUrl(item)" loading-type="spinner" :loading="loadingMusicUrlTag === item.id">下载+ID3</van-button>
          </van-col>
          <van-col span="6"><van-button type="primary" disabled>获取歌词</van-button>
          </van-col>
          <van-col span="6"><van-button type="danger" disabled>获取封面</van-button>
          </van-col>
        </van-row>
      </van-collapse-item>
    </van-collapse>

    <van-divider v-if="list.length === 0">
      <img src="./img/no-data.png" alt="空空如也">
    </van-divider>


    <van-overlay :show="loading" v-cloak></van-overlay>
    <van-loading class="global-loading" v-if="loading"  type="spinner" color="#fff"></van-loading>
  </div>
</div>

<script src="main.js"></script>
</body>
</html>
